__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
lumi_scripts/llama3/llama-logs
lumi_scripts/llama3/debug-files
lumi_scripts/llama3/pythonuserbase/
lumi_scripts/llama3/workdir/
lumi_scripts/llama3/core
lumi_scripts/llama3/workdir_new_container

